*{
    margin: 0;
    padding: 0;
    outline: 0ch;
}
.dd-header-title{
    display: inline-block;
}
.FaAngleDown{
    padding: 100px;
}

.dd-list{
    list-style: none;
    position: absolute;
    padding: 30px;
    background-color: #F0F0F0;
}
.dd-list-item{
    width: 100%;
}