*{
    margin: 0;
    padding: 0;
    outline: 0ch;
}

.dd-header-title{
    display: inline-block;
}

.dd-list{
    list-style: none;
    position: absolute;
    left: 30px;
    top: 97px;
    background-color: #ffffff;
    box-shadow: .5px .5px 3px gray;
    border-radius: 5px;
    width:95%;
    cursor:default;
}
.list-container{
    padding-left: 14px;
    list-style: none;
    
}
.dd-list-item{
    width: 330px;
    text-indent: 20px;
    &:hover{
        color: #0055ff;
        background-color: #F0F0F0;
        width: 330px;
        cursor: pointer;
    }
}
.dropDownRightArrow{
    position: absolute;
    left: 290px;
}