.image {
    width: 250px;
    height: 180px;
    background-position: center;
    background-size: cover; 
    margin-bottom: 10px;
    background-repeat: no-repeat;
    border-radius: 5px;

    
}
.imagePortion .image {
    transition: transform .5s ease;
    display: block;
}
.imagePortion:hover .image {
    transform: scale(1.1);
  }

.imagePortion{
    width: 250px;
    padding: 20px;
    &:hover{
        background-color: gray;
        border-radius: 5px;
    };
}

